$back-to-top:  #FD3A69;
$nav-toggle-color: #FD3A69;
$icon-color: #FD3A69;
$back-to-top-hover:  #9D0191;
$portfolio-filters:#FD3A69; 
$button-color-hover: #9D0191;
$hero-text-color: #ECF9FF;
$button-color: #FD3A69;
$header-color: #ECF9FF;
$footer-color: #ECF9FF;
$titles: #3a4240;
$text: #3a4240;
$action-color: #3a4240;
$menu-links: #3a4240;
$project-txt: #3a4240; 
$contact-txt: #1E2022;
$progress-back-color: #FD3A69; 
$resume-border-color: #FD3A69;
$resume-circle-border-color: #FD3A69;

$title-font-family: "Oswald", sans-serif;
$title-font-weight: 600;

body {
	font-family: "Helvetica", sans-serif;
	color: $text;
}
a {
	color: $action-color;
	text-decoration: none;
	&:hover {
		color: #37b3ed;
		text-decoration: none;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title-font-family; 
	font-weight: $title-font-weight;
	color: $titles;
}
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: $back-to-top;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
	i {
		font-size: 28px;
		color: #fff;
		line-height: 0;
	}
	&:hover {
		background: $back-to-top-hover;
		color: #fff;
	}
	&.active {
		visibility: visible;
		opacity: 1;
	}
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	transition: all ease-in-out 0.5s;
	z-index: 999;
	transition: all 0.5s;
	padding: 0 15px;
	background: $header-color;
	overflow-y: auto;
	.profile {
		img {
			margin: 7em auto 2em auto;
			display: block;
			width: 150px;
		}
		.name {
			margin: auto;
			display: block;
			text-align: center;
		}
		.name.subtitle{
			font-weight: 400;
		}
		h1 {
			font-size: 24px !important;
			margin: 0;
			padding: 0;
			font-weight: 600;
			-moz-text-align-last: center;
			text-align-last: center;
		}
	}
	.social-links {
		margin: 7em auto auto auto;
		display: flex;
		a {
			font-size: 20px;
			display: inline-block;
			color: $action-color;
			line-height: 1;
			margin-right: 4px;
			border-radius: 50%;
			text-align: center;
			width: 36px;
			height: 36px;
			transition: 0.3s;
			&:hover {
				color: #000;
				text-decoration: none;
				font-size: 25px;
			}
		}
	}
}
#header .profile h1 a,
#header .profile h1 a:hover {
	color: #fff;
	text-decoration: none;
}
#main {
	margin-left: 300px;
}
.nav-menu {
	font-family: "Oswald", sans-serif;
	padding: 1em 0 0 1em;
	* {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	& > ul {
		& > li {
			position: relative;
			white-space: nowrap;
		}
	}
	h6{
		margin: 10px 0 10px 0 !important;
	}
}
.nav-menu a,
.nav-menu a:focus {
	display: flex;
	align-items: center;
	color: $action-color;
	padding: 7px 10px;
	margin-bottom: 8px;
	transition: 0.3s;
	font-size: 16px;
}
.nav-menu a i,
.nav-menu a:focus i {
	font-size: 24px;
	padding-right: 8px;
	color: #6f7180;
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
	text-decoration: none;
	color: $button-color;
	font-weight: 750;
}
.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
	color: $action-color;
}
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 999;
	border: 0;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	background-color: $nav-toggle-color;
	color: #fff;
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	border-radius: 50px;
	cursor: pointer;
}
.mobile-nav-active {
	overflow: hidden;
	#header {
		left: 0;
	}
}
#hero {
	width: 100%;
	height: 100vh;
	background: rgb(157,1,145);
    background: linear-gradient(90deg, rgba(157,1,145,1) 0%, rgba(253,58,105,1) 49%, rgba(254,205,26,1) 100%);
	background-size: cover;
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	.hero-container {
		position: relative;
		z-index: 2;
		min-width: 300px;
		align-self: start;
    	margin-left: 2em;
	}
	h1 {
		margin: 0 0 10px 0;
		font-size: 64px;
		font-weight: 700;
		line-height: 56px;
		color: $hero-text-color;
		font-family: $title-font-family; 
		font-weight: $title-font-weight;
	}
	p{
		font-size: 1.8em;
		color: $hero-text-color
	}
}
section {
	overflow: hidden;
}
.section-bg {
	background: #f5f8fd;
}
.section-title {

	padding: 30px 0 0 0;
	h2 {
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;
		color: $titles !important;
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 50px;
			height: 3px;
			background: $action-color;
			bottom: 0;
			left: 0;
		}
	}
	p {
		margin-bottom: 0;
	}
}

.render-caption {	
	margin-top: 1em;
	p {
		font-size: 1em;
		margin-bottom: 0;
		text-align:left !important;
	}
}
.about {
	.content {
		h5{
			padding-right: 0.3em;
		}
		h3 {
			font-weight: 700;
			font-size: 26px;
			color: $titles;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				margin-bottom: 20px;
				display: flex;
				align-items: center;
			}
			strong {
				margin-right: 10px;
			}
			i {
				font-size: 16px;
				margin-right: 5px;
				color: $action-color;
				line-height: 0;
			}
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}



.facts {
	padding-bottom: 30px;
	.count-box {
		padding: 30px;
		width: 100%;
		i {
			display: block;
			font-size: 44px;
			color: $action-color;
			float: left;
			line-height: 0;
		}
		span {
			font-size: 48px;
			line-height: 40px;
			display: block;
			font-weight: 700;
			color: #050d18;
			margin-left: 60px;
		}
		p {
			padding: 15px 0 0 0;
			margin: 0 0 0 60px;
			font-family: "Raleway", sans-serif;
			font-size: 14px;
			color: #122f57;
		}
		a {
			font-weight: 600;
			display: block;
			margin-top: 20px;
			color: #122f57;
			font-size: 15px;
			font-family: "Poppins", sans-serif;
			transition: ease-in-out 0.3s;
			&:hover {
				color: #1f5297;
			}
		}
	}
}
.skills {
	.progress {
		height: 60px;
		display: block;
		background: none;
		border-radius: 0;
		.skill {
			padding: 0;
			margin: 0 0 6px 0;
			text-transform: uppercase;
			display: block;
			font-weight: 600;
			font-family: "Poppins", sans-serif;
			color: #050d18;
			.val {
				float: right;
				font-style: normal;
			}
		}
	}
	.progress-bar-wrap {
		background: #dce8f8;
		height: 10px;
	}
	.progress-bar {
		width: 1px;
		height: 10px;
		transition: 0.9s;
		background-color: $progress-back-color;
	}
}
.resume {
	.resume-title {
		font-size: 26px;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 20px;
		color: #050d18;
	}
	.resume-item {
		padding: 0 0 20px 20px;
		margin-top: -2px;
		border-left: 2px solid $resume-border-color;
		position: relative;
		h4 {
			line-height: 18px;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			font-family: "Poppins", sans-serif;
			color: #050d18;
			margin-bottom: 10px;
		}
		h5 {
			font-size: 16px;
			background: #e4e4e4;
			padding: 5px 15px;
			display: inline-block;
			font-weight: 600;
			margin-bottom: 10px;
		}
		ul {
			padding-left: 20px;
			li {
				padding-bottom: 10px;
			}
		}
		&:last-child {
			padding-bottom: 0;
		}
		&::before {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			border-radius: 50px;
			left: -9px;
			top: 0;
			background: #fff;
			border: 2px solid $resume-circle-border-color;
		}
	}
}
.portfolio {
	.portfolio-item {
		margin-bottom: 30px;
	}
	#portfolio-flters {
		font-family: $title-font-family;
		padding: 0;
		margin: 0 auto 35px auto;
		list-style: none;
		text-align: center;
		background: #fff;
		border-radius: 50px;
		padding: 2px 15px;
		li {
			cursor: pointer;
			display: inline-block;
			padding: 10px 15px 8px 15px;
			font-size: 14px;
			font-weight: 600;
			line-height: 1;
			text-transform: uppercase;
			color: $menu-links;
			margin-bottom: 5px;
			transition: all 0.3s ease-in-out;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.portfolio-wrap {
		cursor: pointer;
	}
}
.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
	color: $portfolio-filters;
	text-decoration: underline;
}
.portfolio-details {
	padding-top: 40px;
	.portfolio-details-slider {
		img {
			width: 100%;
		}
		.swiper-pagination {
			margin-top: 20px;
			position: relative;
			.swiper-pagination-bullet {
				width: 12px;
				height: 12px;
				background-color: #fff;
				opacity: 1;
				border: 1px solid $action-color;
			}
			.swiper-pagination-bullet-active {
				background-color: $action-color;
			}
		}
	}
	.portfolio-info {
		padding: 30px;
		box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
		h3 {
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		ul {
			list-style: none;
			padding: 0;
			font-size: 15px;
			li {
				& + li {
					margin-top: 10px;
				}
			}
		}
	}
	.portfolio-description {
		padding-top: 30px;
		h2 {
			font-size: 26px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		p {
			padding: 0;
		}
	}
}
.services {
	.icon-box {
		margin-bottom: 20px;
		&:hover {
			.icon {
				background: #fff;
				i {
					color: $action-color;
				}
			}
		}
	}
	.icon {
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 54px;
		height: 54px;
		background: $action-color;
		border-radius: 50%;
		transition: 0.5s;
		border: 1px solid $action-color;
		i {
			color: #fff;
			font-size: 24px;
			line-height: 0;
		}
	}
	.title {
		margin-left: 80px;
		font-weight: 700;
		margin-bottom: 15px;
		font-size: 18px;
		a {
			color: #343a40;
			&:hover {
				color: $action-color;
			}
		}
	}
	.description {
		margin-left: 80px;
		line-height: 24px;
		font-size: 14px;
	}
}
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
	overflow: hidden;
}
.testimonials {
	.testimonial-item {
		box-sizing: content-box;
		text-align: center;
		min-height: 320px;
		.testimonial-img {
			width: 90px;
			border-radius: 50%;
			margin: 0 auto;
		}
		h3 {
			font-size: 18px;
			font-weight: bold;
			margin: 10px 0 5px 0;
			color: #111;
		}
		h4 {
			font-size: 14px;
			color: #999;
			margin: 0;
		}
		.quote-icon-left {
			display: inline-block;
			left: -5px;
			position: relative;
		}
		.quote-icon-right {
			display: inline-block;
			right: -5px;
			position: relative;
			top: 10px;
		}
		p {
			font-style: italic;
			margin: 0 15px 15px 15px;
			padding: 20px;
			background: #fff;
			position: relative;
			margin-bottom: 35px;
			border-radius: 6px;
			box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
			&::after {
				content: "";
				width: 0;
				height: 0;
				border-top: 20px solid #fff;
				border-right: 20px solid transparent;
				border-left: 20px solid transparent;
				position: absolute;
				bottom: -20px;
				left: calc(50% - 20px);
			}
		}
	}
	.swiper-pagination {
		margin-top: 20px;
		position: relative;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			background-color: #fff;
			opacity: 1;
			border: 1px solid $action-color;
		}
		.swiper-pagination-bullet-active {
			background-color: $action-color;
		}
	}
}
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
	color: #c3e8fa;
	font-size: 26px;
}
.contact {
	padding: 80px 0 130px 0;
	.info {
		padding: 40px 30px 30px 30px;
		background: #fff;
		width: 100%;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
		i {
			font-size: 20px;
			color: $icon-color;
			float: left;
			width: 44px;
			height: 44px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease-in-out;
		}
		h6 {
			padding: 0 0 0 0;
			font-size: 0.8em;
			font-weight: 500;
			margin-bottom: 0 !important;
			color: $titles !important;
		}
		p {
			padding: 0 0 0 0;
			font-size: 14px;
			color: $titles;
		}
		.email {
			p {
				padding-top: 5px;
			}
		}
		.social-links {
			padding-left: 60px;
			a {
				font-size: 18px;
				display: inline-block;
				background: #333;
				color: #fff;
				line-height: 1;
				padding: 8px 0;
				border-radius: 50%;
				text-align: center;
				width: 36px;
				height: 36px;
				transition: 0.3s;
				margin-right: 10px;
				&:hover {
					background: $action-color;
					color: #fff;
				}
			}
		}
	}
	.php-email-form {
		width: 100%;
		padding: 30px;
		background: #fff;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
		.form-group {
			padding-bottom: 8px;
			margin-bottom: 15px;
		}
		.validate {
			display: none;
			color: red;
			margin: 0 0 15px 0;
			font-weight: 400;
			font-size: 13px;
		}
		.error-message {
			display: none;
			color: #fff;
			background: #ed3c0d;
			text-align: left;
			padding: 15px;
			font-weight: 600;
			br {
				& + br {
					margin-top: 25px;
				}
			}
		}
		.sent-message {
			display: none;
			color: #fff;
			background: #18d26e;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: #fff;
			text-align: center;
			padding: 15px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: #eee;
				-webkit-animation: animate-loading 1s linear infinite;
				animation: animate-loading 1s linear infinite;
			}
		}
		label {
			padding-bottom: 8px;
		}
		input {
			height: 44px;
		}
		textarea {
			padding: 10px 15px;
		}
		button[type=submit] {
			background: $button-color;
			border: 0;
			padding: 10px 24px;
			color: #fff;
			transition: 0.4s;
			border-radius: 4px;
		}
		button[type=submit]:hover {
			background: $button-color-hover;
		}
	}
}
.contact .php-email-form input,
.contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}
.breadcrumbs {
	padding: 20px 0;
	background: #f9f9f9;
	h2 {
		font-size: 26px;
		font-weight: 300;
	}
	ol {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 15px;
		li {
			& + li {
				padding-left: 10px;
				&::before {
					display: inline-block;
					padding-right: 10px;
					color: $button-color;
					content: "/";
				}
			}
		}
	}
}
#footer {
	padding: 15px;
	color: #f4f6fd;
	font-size: 14px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 300px;
	z-index: 999;
	background: $footer-color;
	.copyright {
		text-align: center;
	}
	.credits {
		padding-top: 5px;
		text-align: center;
		font-size: 13px;
		color: #eaebf0;
	}
}


#p1-images{
	background: url(../img/pj1bg.webp) bottom center no-repeat;
	color: $project-txt;
	min-height: 100vh;
	background-size: cover;
}

#p2-images{
	background: url(../img/pj2bg.webp) bottom center no-repeat;
	color: $project-txt;
	min-height: 736px;
	background-size: cover;
}

.project h1,h2,h3,h4 {
	color: $project-txt !important;
}

.project .render{
	min-height: 300px;
	
}

.project .render p {
	color: #fff;
	margin-bottom: 50px;
	font-size: 26px;
	font-family: "Poppins", sans-serif;
	span {
		color: $project-txt;
		padding-bottom: 4px;
		letter-spacing: 1px;
		border-bottom: 3px solid $project-txt;
	}
}


@media (max-width: 1199px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }
  }


  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs ol {
      display: block;
    }
  
    .breadcrumbs ol li {
      display: inline-block;
    }
  }

  @media (max-width: 1199px) {
    #footer {
      position: static;
      width: auto;
      padding-right: 20px 15px;
    }
  }
 

  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  .particles{
	width: 10px;
	height: 10px;
	position: absolute;
	z-index: 101;
	}
  
  .particles .particle{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: white;
	border-radius: 50%;
	animation: move 5s linear infinite;
  }

  @keyframes move{
	100%{
	  transform: translate(350px);
	  }
  }

  label{
	cursor: pointer;
  }

